@charset "UTF-8";
body{
    background-color:white;
}
.logo{
    width: auto;
    height: 72px;
    margin-top: 20px;
    margin-left: 0px;
}
ul{
    list-style: none;
    font-family: 'Arial Rounded MT',sans-serif;
}
.main-nav{
    display: flex;
    font-size: 32px;
    margin-top: 40px;
}
.main-nav li{
    margin-left: 40px;
}
.page-header{
    display: flex;
    justify-content: space-between;
}
.wrapper{
    max-width: 1900px;
    margin:auto;
    padding: 0 4%;
}
.home-content{
    font-family: 'Arial',sans-serif;
    font-weight: bold;
    font-size: 40px;
    text-align: center;
    margin-top: 180px;
}

.containor{
    display: flex;
    padding: 10px;
} 

.item {

    margin: 0 0 0 20px;
    padding: 0;
    font-family:'Arial',sans-serif;
}

.name{
    font-size: 50px;
}

.aboutme{
    margin: 0 0 0 20px;
    font-size: 20px;
    text-align: justify;
}
.tachie{
    width: 300px;
    height: auto;
}

.tab{
    display: flex;
    flex-wrap: wrap;
    margin-left: 40px;
}

.tab li a{
    display: block;
    background: #eafffb;
    margin-top: 20px;
    padding: 20px 40px;
}

.contents{
    margin: 20px;
}

.tab li.active a{
    background: #eafffb;
}

.area{
    display: none;
    opacity: 0;
    background: #fffbea;
    margin-left: 40px;
    margin-right: 40px;
    padding: 50px 10px;
}

.area.is-active{
    display: block;
    width: auto;
    animation-name: displayAnime;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    background: #eafffb;
}

@keyframes displayAnime{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}